<!DOCTYPE html>
<html>
  <head>
    <title>Intro Passport SQL</title>
    <!-- <script type="text/javascript" src ="/public/vendors/angular.min.js"></script> -->
    <script type="text/javascript" src ="/public/scripts/client.js"></script>
  </head>
  <body>
    <div class="banner">
      <h1>Login: Passport SQL</h1>
    </div>
    <div class="login">

      <form action="/" method="post">
        <div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username">
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
        </div>
        <div>
          <input type="submit" value="Log In">
          <a href="/register">Register</a>
        </div>

      </form>
    </div>
  </body>
</html>