body, html {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
  }

  .myApp md-content {
    background-color: transparent !important; 
  }

  .myApp md-content md-tabs {
      background: #f6f6f6;
      border: 1px solid #e1e1e1; 
  }
  
  .myApp md-content md-tabs md-tabs-wrapper {
        background: white; 
  }

  .tabsdemoDynmyApp md-content h1:first-child {
      margin-top: 0; 
  }
  

  .md-form {
    padding: 40px;
    margin: 20px;
    
  }
  
  .instructions {
    background-color:#147d91;
    color: orange;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    padding: 15px;
  }
  
  #entryForm {
    margin-top: 14px;
  }
  
  #container {
    margin-top: 10px;
  }
  
  .container p{
    margin-top : 14px;
  }
  
  .message {
    padding: 10px 0;
  }
  
  .message p {
    margin-left: 10px;
  }
  
  .message:nth-child(odd) {
     background-color: #eeeeee;
  }
  
  .message:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .btn-danger{
    margin-left: 10px;
  }
#logout {
    float: right;
  }

  .md-form {
    padding: 20px;
  }
  .btn-success {
    margin: 10px;
    float: left;
    padding: 10px 20px;
    font-size: 700px;
    border-radius: 10px;
    width:45%;
    height: 100px;    
  }
  .btn-warning{
    margin: 10px;
    float: right;
    padding: 10px 20px;
    font-size: 200px;
    border-radius: 10px;
    width:45%;
    height: 100px;    
  }
  
.navbar {
    background-color: lightgoldenrodyellow;
    width: 100%;
    border-radius: 0px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

  li:last-child {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline;
    color: orange;
  }
  .md-form {
    margin: 20px;
    padding: 25px;
    margin-bottom: 20px;
  }

  #vulnerabilities {
    float: right;
  }

  .form-group.required .control-label:after {
    content:"*";
    color:red;
  }
  .btn-info {
    float: left;
  }

  md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #147d91;
}
  md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #147d91;
}


md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {
  color: #147d91; 
  border-bottom-color: #147d91 ;
  
}

.layout-margin {
  padding: 20px;
}

/* .aria-label { */

.md-label{

  color: #302B2B;
  font-size: 13px;
  }

  
  md-checkbox.md-focused .md-container:before {
    background-color: transparent !important;
}