<div ng-include="'views/partials/nav.html'"></div>

<div class="container" ng-init="cc.getChartData(); cc.getJoinCaseRaceEthnicity(); cc.getJoinCaseLawEnforcementDenial(); cc.getJoinCaseVulnerabilities()">

  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Global Dashboard">
          <md-content class="md-padding">
            <div flex-xs flex-gt-xs="100" layout="column">
              <md-card>
                <canvas id="mainBarChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('mainBarChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="startCaseTypeChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('startCaseTypeChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="stateOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('stateOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="countiesOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('countiesOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="peopleServedOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('peopleServedOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="ageOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('ageOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="districtOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('districtOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="genderOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('genderOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="vulnerabilitiesOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                      <span class="chartNotes" layout-align="center center">Note: Cases can have more than one listed vulnerability.</span>
                    </md-card-icon-actions>
                      <md-button layout-align="end center" ng-click="cc.saveChart('vulnerabilitiesOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="lawEnforcementOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <span class="chartNotes">Note: Cases can have more than one listed Law Enforcement Agency.</span>
                    </md-card-icon-actions>
                    <md-button ng-click="cc.saveChart('lawEnforcementOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                        <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                      </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="raceEthnicityOverallChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <span class="chartNotes">Note: Cases can have more than one listed Race/ Ethnicity.</span>
                    </md-card-icon-actions>
                    <md-button ng-click="cc.saveChart('raceEthnicityOverallChart')" class="md-icon-button md-accent" aria-label="Download chart">
                        <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                      </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="referralsChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('referralsChart')" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Preventative Insights">
          <md-content class="md-padding">
            <div flex-xs flex-gt-xs="100" layout="column">
                <md-card>
                    <canvas id="lawEnforcementStackedOverall" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                    </canvas>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-card-icon-actions>
                            <span class="chartNotes">Note: Cases can have more than one listed Law Enforcement Agency.</span>
                        </md-card-icon-actions>
                        <md-button ng-click="cc.saveChart('lawEnforcementStackedOverall')" class="md-icon-button md-accent" aria-label="Download chart">
                            <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                          </md-button>
                    </md-card-actions>
                  </md-card>
                  <md-card>
                      <canvas id="vulnerabilityStackedOverall" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                      </canvas>
                      <md-card-actions layout="row" layout-align="start center">
                          <md-card-icon-actions>
                              <span class="chartNotes">Note: Cases can have more than one listed vulnerability.</span>
                          </md-card-icon-actions>
                          <md-button ng-click="cc.saveChart('vulnerabilityStackedOverall')" class="md-icon-button md-accent" aria-label="Download chart">
                              <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                            </md-button>
                      </md-card-actions>
                    </md-card>
                    <md-card>
                        <canvas id="startCaseByDistrictStacked" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                        </canvas>
                        <md-card-actions layout="row" layout-align="start center">
                            <md-button ng-click="cc.saveChart('startCaseByDistrictStacked')" class="md-icon-button md-accent" aria-label="Download chart">
                                <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                              </md-button>
                        </md-card-actions>
                      </md-card>
                </div>
          </md-content>
        </md-tab>
        <md-tab label="Annual Dashboard">
            <h1 class="md-title" style="padding-left:15px">Select a Year to explore:</h1>
            <div layout="row" style="padding-left:15px">
              <md-input-container>
                <label>Year:</label>
                <md-select ng-model="cc.selectedYear" ng-change="cc.getSelectedYear()">
                  <md-optgroup label="Select a Year">
                    <md-option ng-value="year" ng-repeat="year in cc.mainChartYears">{{year}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
        
          <md-content class="md-padding" ng-show=cc.selectedYear flex-xs flex-gt-xs="100" layout="column">
            <!-- <div flex-xs flex-gt-xs="100" layout="column"> -->
              <md-card>
                <canvas id="userCaseTypeChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('userCaseTypeChart',true)" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="userCountyChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('userCountyChart',true)" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="userSchoolChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('userSchoolChart', true)" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="userPeopleServedChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('userPeopleServedChart',true)" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="userVulnerabilityChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <span class="chartNotes">Note: Cases can have more than one listed vulnerability.</span>
                    </md-card-icon-actions>
                    <md-button ng-click="cc.saveChart('userVulnerabilityChart', true)" class="md-icon-button md-accent" aria-label="Download chart">
                        <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                      </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="userAgeChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="cc.saveChart('userAgeChart', true)" class="md-icon-button md-accent" aria-label="Download chart">
                    <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="userLawEnforcementChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <span class="chartNotes">Note: Cases can have more than one listed Law Enforcement Agency.</span>
                    </md-card-icon-actions>
                    <md-button ng-click="cc.saveChart('userLawEnforcementChart', true)" class="md-icon-button md-accent" aria-label="Download chart">
                        <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                      </md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <canvas id="userRaceChart" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <span class="chartNotes">Note: Cases can have more than one listed Race/ Ethnicity.</span>
                    </md-card-icon-actions>
                    <md-button ng-click="cc.saveChart('userRaceChart', true)" class="md-icon-button md-accent" aria-label="Download chart">
                        <md-icon ng_bind="'file_download'" style="color:rgba(20, 125, 145, 0.8)"></md-icon>
                      </md-button>
                </md-card-actions>
              </md-card>
          </md-content>
    </md-content>
    </md-tab>
    </md-tabs>
    </md-content>
    </div>
    </div>