<div ng-include="'views/partials/nav.html'"></div>

<div class="container" ng-init="cr.getMCMRecords(); cr.getJoinCaseRaceEthnicity(); cr.getJoinCaseLawEnforcementDenial(); cr.getJoinCaseVulnerabilities()">
    <form name="userReport" layout="column" ng-cloak class="md-inline-form" novalidate ng-submit="userReport.$valid && cr.submitCustomFilters(caseType,state,county,district,agency,denial,vulnerability,age,gender,race,source)">
            <h1 class="md-title">Select Report Filters:</h1>
            <div layout-align="start center">
                <md-input-container>
                    <label>Start Case Type</label>
                    <md-select ng-model="caseType">
                        <md-optgroup label="Select a Case Type">
                            <md-option ng-repeat="caseType in cr.caseType" value="{{caseType}}">{{caseType}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>State</label>
                    <md-select ng-model="state">
                        <md-optgroup label="Select a State">
                            <md-option ng-repeat="state in cr.states" value="{{state}}">{{state}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>MN County</label>
                    <md-select ng-model="county">
                        <md-optgroup label="Select an MN County">
                            <md-option ng-repeat="county in cr.mnCounties" value="{{county}}">{{county}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>School District</label>
                    <md-select ng-model="district">
                        <md-optgroup label="Select an MN School District">
                            <md-option ng-repeat="district in cr.schoolDistricts" value="{{district}}">{{district}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Law Enforcement Agency</label>
                    <md-select ng-model="agency">
                        <md-optgroup label="Select a Law Enforcement Agency">
                            <md-option ng-repeat="agency in cr.lawEnforcement" value="{{agency}}">{{agency}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Jurisdictional Denial</label>
                    <md-select ng-model="denial">
                        <md-optgroup label="Select whether there was Jurisdictional Denial">
                            <md-option ng-repeat="denial in cr.agencyDenial" value="{{denial}}">{{denial}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Vulnerability</label>
                    <md-select ng-model="vulnerability">
                        <md-optgroup label="Select a Vulnerability">
                            <md-option ng-repeat="vulnerability in cr.vulnerabilities" value="{{vulnerability}}">{{vulnerability}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Age</label>
                    <md-select ng-model="age">
                        <md-optgroup label="Select an Age">
                            <md-option ng-repeat="age in cr.ages" value="{{age}}">{{age}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Gender</label>
                    <md-select ng-model="gender">
                        <md-optgroup label="Select a Gender">
                            <md-option ng-repeat="gender in cr.genders" value="{{gender}}">{{gender}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Race/Ethnicity</label>
                    <md-select ng-model="race">
                        <md-optgroup label="Select a Race/Ethnicity">
                            <md-option ng-repeat="race in cr.raceEthnicity" value="{{race}}">{{race}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Referral Source</label>
                    <md-select ng-model="source">
                        <md-optgroup label="Select a Referral Source">
                            <md-option ng-repeat="source in cr.referralSource" value="{{source}}">{{source}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

                <md-input-container layout="row">
                    <md-button type="submit" value="Submit" class="md-raised teal" aria-label="submit custom filters for report">
                        Create Custom Report
                    </md-button>
                </md-input-container>
        </div>

        <div ng-show="cr.userCustomFilters" style="overflow-x:auto;"> 
        <p>Selected Filter Parameters: {{cr.userCustomFilters}}</p>
        <table>
            <thead>
                <th>MCM Case #</th>
                <!-- <th>MCM Intake Date</th> -->
                <th>Age</th>
                <th>Gender</th>
                <th>Last Seen</th>
                <th>Reported Missing</th>
                <!-- <th>People Served</th> -->
                <!-- <th>City</th> -->
                <th>County</th>
                <!-- <th>State</th> -->
                <th>School</th>
                <!-- <th>Law Enforcement Agency</th> -->
                <!-- <th>Jurisdictional Denial</th> -->
                
                <th>Start Case Type</th>
                <th>End Case Type</th>
                <th>Case Disposition</th>
                <th>Close Date</th>
                <th>Referral Type</th>
            </thead>

            <tbody>
                <tr ng-repeat="row in cr.customReport.data">
                    <td>{{row.mcm_number}}</td>
                    <!-- <td>{{row.intake_date | date: shortdate}}</td> -->
                    <td>{{row.age}}</td>
                    <td>{{row.gender}}</td>
                    <td>{{row.last_seen | date: shortdate}}</td>
                    <td>{{row.reported_missing | date: shortdate}}</td>
                    <!-- <td>{{row.people_served}}</td> -->
                    <!-- <td>{{row.city_name}}</td> -->
                    <td>{{row.county_name}}</td>
                    <!-- <td>{{row.state}}</td> -->
                    <td>{{row.school}}</td>
                    <!-- <td>{{row.agency}}</td>
                    <td>{{row.jurisdictional_denial}}</td> -->
                    <td>{{row.start_case_type}}</td>
                    <td>{{row.end_case_type}}</td>
                    <td>{{row.disposition}}</td>
                    <td>{{row.close_date | date: shortdate}}</td>
                    <td>{{row.referral_type}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>