<div ng-include="'views/partials/nav.html'"></div>

<div layout='row' layout-fill layout-margin>
  <md-input-container>
    <input id="caseNum" ng-model="ec.caseIn" type="text" placeholder="MCM Case Number" required>
    <md-button type="button" ng-click="ec.getData(ec.caseIn)" class="teal">Enter</md-button>
  </md-input-container>
</div>


<form role="form" class='form-vertical'></form>
<!-- <div class="md-form form-group" ng-submit="ec.updateData()" ng-if="ec.showEditForm"> -->
<div class="md-form form-group" ng-submit="ec.updateData()">

  <div layout='row' layout-fill layout-margin>
    <md-input-container>
      <input name="Age" placeholder="Age" id="yes" ng-model="ec.age"></input>
    </md-input-container>
    <md-input-container>
      <label>Gender</label>
      <md-select name="Gender" id="gender" ng-model="ec.gender">
        <md-option value="Male">Male</md-option>
        <md-option value="Female">Female</md-option>
        <md-option value="Non-binary">Non-binary</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Race/Ethnicity</label>
      <md-select name="RaceEthnicity" ng-model="nwc.RaceEthnicityIn" ng-change="nwc.itemChange()" id="yes">
        <md-option value="AfricanAmerican">African American</md-option>
        <md-option value="AsianPacificIslander">Asian Pacific Islander</md-option>
        <md-option value="Caucasian">Caucasian</md-option>
        <md-option value="Latinx">Latinx</md-option>
        <md-option value="NativeAmerican">Native American</md-option>
      </md-select>
    </md-input-container>
  </div>

  <h3>Vulnerabilities</h3>

  <div layout='row' layout-fill layout-margin>

    <md-checkbox ng-model="ec.ADDIn" aria-label="ADD/ADHD">
      ADD/ADHD
    </md-checkbox>

    <md-checkbox ng-model="ec.AutisimIn" aria-label="ASD(Autism Spectrum Disorder)">
      ASD (Autism Spectrum Disorder)
    </md-checkbox>


    <md-checkbox ng-model="ec.AlcoholIn" aria-label="AlcoholUseAbuse">
      Alcohol Use/Abuse
    </md-checkbox>


    <md-checkbox ng-model="ec.AnxietyIn" aria-label="Anxiety">
      Anxiety
    </md-checkbox>

    <md-checkbox ng-model="ec.BiPolarIn" aria-label="BiPolarDisorder">
      Bi-Polar Disorder
    </md-checkbox>

    <md-checkbox ng-model="ec.DepressionClinicalIn" aria-label="Depression(clinical)">
      Depression (clinical)
    </md-checkbox>

    <md-checkbox ng-model="ec.DespressionSituationalIn" aria-label="Depression (situational)">
      Depression (situational)
    </md-checkbox>

    <md-checkbox ng-model="ec.DrugUseIn" aria-label="Drug Use/Abuse">
      Drug Use/Abuse
    </md-checkbox>

  </div>

  <div layout='row' layout-fill layout-margin>

    <md-checkbox ng-model="ec.EconomicIn" aria-label="EconomicExploitation(history)">
      Economic exploitation (history)
    </md-checkbox>

    <md-checkbox ng-model="ec.EmotionalAbuseIn" aria-label="Emotional Abuse (history)">
      Emotional Abuse (history)
    </md-checkbox>

    <md-checkbox ng-model="ec.GangIn" aria-label="Gang Association">
      Gang Association
    </md-checkbox>

    <md-checkbox ng-model="ec.ODDIn" aria-label="ODD (Oppositional Defiant Disorder)">
      ODD (Oppositional Defiant Disorder)
    </md-checkbox>

    <md-checkbox ng-model="ec.LaborIn" aria-label="Labor Exploitation (history)">
      Labor Exploitation (history)
    </md-checkbox>

    <md-checkbox ng-model="ec.LuringAdultIn" aria-label="Luring/grooming by adult">
      Luring/grooming by adult
    </md-checkbox>


  </div>
  <div layout='row' layout-fill layout-margin>

    <md-checkbox ng-model="ec.LuringChildIn" aria-label="Luring/grooming by child">
      Luring/grooming by child
    </md-checkbox>


    <md-checkbox ng-model="ec.MissingFromCareIn" aria-label="Missing From Care">
      Missing From Care
    </md-checkbox>

    <md-checkbox ng-model="ec.PhysicalAbuseIn" aria-label="Physical Abuse (history)">
      Physical Abuse (history)
    </md-checkbox>

    <md-checkbox ng-model="ec.RunawayIn" aria-label="Runaway (history)">
      Physical Abuse (history)
    </md-checkbox>

    <md-checkbox ng-model="ec.SexualAbuseIn" aria-label="Sexual Abuse (history)">
      Sexual Abuse (history)
    </md-checkbox>

    <md-checkbox ng-model="ec.SexualExploitationIn" aria-label="Sexual Exploitation (history)">
      Sexual Abuse (history)
    </md-checkbox>

    <md-checkbox ng-model="ec.SexualMinorityIn" aria-label="Sexual Exploitation (history)">
      Sexual Minority (LGBTQ, etc.)
    </md-checkbox>

  </div>

  <!-- <div class="form-check">
    <div class="col-sm-4" id="vulnerabilities">
      <div class="form-group">
        <h3>Vulnerabilities</h3>
        <input type="checkbox" ng-model="ec.ADDIn" name="ADD/ADHD" value="ADD/ADHD" input type="checkbox" /> ADD/ADHD
        <br>
        <input type="checkbox" ng-model="ec.AutisimIn" name="ASD (Autism Spectrum Disorder)" value="ASD (Autism Spectrum Disorder)"
          input type="checkbox" /> ASD (Autism Spectrum Disorder)
        <br>
        <input type="checkbox" ng-model="ec.AlcoholIn" name="Alcohol use/abuse" value="Alcohol use/abuse" input type="checkbox" /> Alcohol use/abuse
        <br>
        <input type="checkbox" ng-model="ec.AnxietyIn" name="Anxiety" input type="checkbox" /> Anxiety
        <br>
        <input type="checkbox" ng-model="ec.BiPolarIn" name="BiPolar Disorder" value="BiPolar Disorder" input type="checkbox" /> Bi-Polar Disorder
        <br>
        <input type="checkbox" ng-model="ec.DepressionClinicalIn" name="Depression (clinical)" value="Depression (clinical)" input
          type="checkbox" /> Depression (clinical)
        <br>
        <input type="checkbox" ng-model="ec.DespressionSituationalIn" name="Depression (situational)" value="Depression (situational)"
          input type="checkbox" /> Depression (situational)
        <br>
        <input type="checkbox" ng-model="ec.DrugUseIn" name="Drug use/abuse" value="Drug use/abuse" input type="checkbox" /> Drug use/abuse
        <br>
        <input type="checkbox" ng-model="ec.EconomicIn" name="Economic exploitation (history)" value="Economic exploitation (history)"
          input type="checkbox" /> Economic exploitation (history)
        <br>
        <input type="checkbox" ng-model="ec.EmotionalAbuseIn" name="Emotional Abuse (history)" value="Emotional Abuse (history)"
          input type="checkbox" /> Emotional Abuse (history)
        <br>
        <input type="checkbox" ng-model="ec.GangIn" name="Gang Association" value="Gang Association" input type="checkbox" /> Gang Association
        <br>
        <input type="checkbox" ng-model="ec.ODDIn" name="ODD (Oppositional Defiant Disorder)" value="ODD (Oppositional Defiant Disorder)"
          input type="checkbox" /> ODD (Oppositional Defiant Disorder)
        <br>
        <input type="checkbox" ng-model="ec.LaborIn" name="Labor Exploitation (history)" value="Labor Exploitation (history)" input
          type="checkbox" /> Labor Exploitation (history)
        <br>
        <input type="checkbox" ng-model="ec.LuringAdultIn" name="Luring/grooming by adult" value="Luring/grooming by adult" input
          type="checkbox" /> Luring/grooming by adult
        <br>
        <input type="checkbox" ng-model="ec.LuringChildIn" name="Luring/grooming by child" value="Luring/grooming by child" input
          type="checkbox" /> Luring/grooming by child
        <br>
        <input type="checkbox" ng-model="ec.MissingFromCareIn" name="Missing From Care" value="Missing From Care" input type="checkbox"
        /> Missing From Care
        <br>
        <input type="checkbox" ng-model="ec.PhysicalAbuseIn" name="Physical Abuse (history)" value="Physical Abuse (history)" input
          type="checkbox" /> Physical Abuse (history)
        <br>
        <input type="checkbox" ng-model="ec.RunawayIn" name="Runaway (history)" value="Runaway (history)" input type="checkbox" /> Runaway (history)
        <br>
        <input type="checkbox" ng-model="ec.SexualAbuseIn" name="Sexual Abuse (history)" value="Sexual Abuse (history)" input type="checkbox"
        /> Sexual Abuse (history)
        <br>
        <input type="checkbox" ng-model="ec.SexualExploitationIn" name="Sexual Exploitation (history)" value="Sexual Exploitation (history)"
          input type="checkbox" /> Sexual Exploitation (history)
        <br>
        <input type="checkbox" ng-model="ec.SexualMinorityIn" name="Sexual Minority (LGBTQ, etc.)" value="Sexual Minority (LGBTQ, etc.)"
          input type="checkbox" /> Sexual Minority (LGBTQ, etc.)
        <br>
      </div>
    </div>
  </div> -->

  <div layout='row' layout-fill layout-margin>
    <md-input-container>
      <input id="DateLastSeen" ng-model="ec.DateLastSeenIn" type="date" style="width:150px;" placeholder="Date Last Seen">
    </md-input-container>
    <md-input-container>
      <input id="DateReportedMissingtoPolice" ng-model="ec.DateReportedMissingtoPoliceIn" style="width:250px;" type="date" placeholder="Date Reported Missing to Police">
    </md-input-container>

    <md-input-container flex>
      <label>City Missing From</label>
      <md-select ng-model="ec.CityMissingFromIn" ng-change="ec.itemChange()" required>
        <md-option value="" disabled md-selected>City Missing From</md-option>
        <md-option ng-repeat="cityObj in ec.cities" ng-value="cityObj.city"> {{cityObj.city}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container style="margin-right: 10px;width: 20%;">
      <label>County Missing From</label>
      <md-select ng-model="ec.CountyMissingFromIn" ng-change="ec.itemChange()" required>
        <md-option value="" disabled md-selected>County Missing From</md-option>
        <md-option ng-repeat="countyObj in ec.counties" ng-value="countyObj.county"> {{countyObj.county}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <label>State Missing From</label>
      <md-select name="StateMissingFrom" ng-model="nwc.StateMissingFromIn" ng-change="nwc.itemChange()" type="number" placeholder="State Missing From"
        required>
        <md-option value="" disabled md-selected>State Missing From</md-option>
        <md-option value="AL">Alabama</md-option>
        <md-option value="AK">Alaska</md-option>
        <md-option value="AZ">Arizona</md-option>
        <md-option value="AR">Arkansas</md-option>
        <md-option value="CA">California</md-option>
        <md-option value="CO">Colorado</md-option>
        <md-option value="CT">Connecticut</md-option>
        <md-option value="DE">Delaware</md-option>
        <md-option value="DC">District Of Columbia</md-option>
        <md-option value="FL">Florida</md-option>
        <md-option value="GA">Georgia</md-option>
        <md-option value="HI">Hawaii</md-option>
        <md-option value="ID">Idaho</md-option>
        <md-option value="IL">Illinois</md-option>
        <md-option value="IN">Indiana</md-option>
        <md-option value="IA">Iowa</md-option>
        <md-option value="KS">Kansas</md-option>
        <md-option value="KY">Kentucky</md-option>
        <md-option value="LA">Louisiana</md-option>
        <md-option value="ME">Maine</md-option>
        <md-option value="MD">Maryland</md-option>
        <md-option value="MA">Massachusetts</md-option>
        <md-option value="MI">Michigan</md-option>
        <md-option value="MN">Minnesota</md-option>
        <md-option value="MS">Mississippi</md-option>
        <md-option value="MO">Missouri</md-option>
        <md-option value="MT">Montana</md-option>
        <md-option value="NE">Nebraska</md-option>
        <md-option value="NV">Nevada</md-option>
        <md-option value="NH">New Hampshire</md-option>
        <md-option value="NJ">New Jersey</md-option>
        <md-option value="NM">New Mexico</md-option>
        <md-option value="NY">New York</md-option>
        <md-option value="NC">North Carolina</md-option>
        <md-option value="ND">North Dakota</md-option>
        <md-option value="OH">Ohio</md-option>
        <md-option value="OK">Oklahoma</md-option>
        <md-option value="OR">Oregon</md-option>
        <md-option value="PA">Pennsylvania</md-option>
        <md-option value="RI">Rhode Island</md-option>
        <md-option value="SC">South Carolina</md-option>
        <md-option value="SD">South Dakota</md-option>
        <md-option value="TN">Tennessee</md-option>
        <md-option value="TX">Texas</md-option>
        <md-option value="UT">Utah</md-option>
        <md-option value="VT">Vermont</md-option>
        <md-option value="VA">Virginia</md-option>
        <md-option value="WA">Washington</md-option>
        <md-option value="WV">West Virginia</md-option>
        <md-option value="WI">Wisconsin</md-option>
        <md-option value="WY">Wyoming</md-option>
      </md-select>
    </md-input-container>

  </div>

  <div layout='row' layout-fill layout-margin>

    <md-input-container>
      <input id="familyMembers" ng-model="ec.familyMembers" type="text" placeholder="Number of Family Members Involved in Search">
    </md-input-container>

    <md-select name="Starting Case Type" placeholder="Starting Case Type" id="yes" ng-model="ec.startingCaseType" required>
      <md-option value="" disabled selected>Case Type</md-option>
      <md-option value="Runaway">Runaway</md-option>
      <md-option value="Abduction by Family Member">Abduction by Family Member</md-option>
      <md-option value="Abduction by Acquaintance">Abduction by Acquaintance</md-option>
      <md-option value="Stranger Abduction">Stranger Abduction</md-option>
      <md-option value="LIM">LIM</md-option>
    </md-select>

    <md-input-container>
      <input id="DateClosed" ng-model="ec.DateClosed" style="width:150px;" type="date" placeholder="Date Closed">
    </md-input-container>

    <md-select name="Ending Case Type" placeholder="Ending Case Type" id="yes" ng-model="ec.endingCaseType">
      <md-option value="" disabled selected>Case Type</md-option>
      <md-option value="null"></md-option>
      <md-option value="Runaway">Runaway</md-option>
      <md-option value="Abduction by Family Member">Abduction by Family Member</md-option>
      <md-option value="Abduction by Acquaintance">Abduction by Acquaintance</md-option>
      <md-option value="Stranger Abduction">Stranger Abduction</md-option>
      <md-option value="LIM">LIM</md-option>
    </md-select>
  </div>

  <div layout='row' layout-fill layout-margin>
    <md-input-container>
      <input type="text" name="" id="jurisdiction" placeholder="Law Enforcement Jurisdiction" ng-model="ec.jurisdiction">
    </md-input-container>
    <md-input-container>
      <input type="text" name="" id="schoolDisctrict" placeholder="School District Number" ng-model="ec.schoolDisctrict">
    </md-input-container>

    <md-select name="Disposition" placeholder="Disposition" id="disposition" ng-model="ec.disposition">
      <md-option value="" disabled selected>Outcome</md-option>
      <md-option value="Missing Found Safe">Missing Found Safe</md-option>
      <md-option value="Missing Found Injured">Missing Found Injured</md-option>
      <md-option value="Missing Found Deceased">Missing Found Deceased</md-option>
    </md-select>




    <md-select name="Referral Type" placeholder="Referral Type" id="yes" ng-model="ec.referralType">
      <md-option value="" disabled selected>Referral Type</md-option>
      <md-option value="Word of Mouth">Word of Mouth</md-option>
      <md-option value="Facebook">Facebook</md-option>
      <md-option value="Website">Website</md-option>
      <md-option value="Referral by Law Enforcement">Referral by Law Enforcement</md-option>
      <md-option value="Referral by County Worker">Referral by County Worker</md-option>
    </md-select>
  </div>

  <div layout="row" layout-fill layout-margin>
    <md-input-container>
      <input type="text" name="Additional Notes" id="notes" placeholder="Additional Notes">
    </md-input-container>
  </div>

  <md-button type="submit" class="teal">Submit</md-button>
</div>
</form>