<div ng-include="'views/partials/nav.html'"></div>

<div id="manage">
        <h2>Current Users</h2>
        
        <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <!-- <th>Checked In?</th> -->
                    </tr>
                </thead>
                <tbody id="petTable">
                    <tr >   
                            <!-- ng-repeat="pet in WC.pets" -->
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <!-- <td><button ng-click="WC.deletePet(pet.id)">Edit</button></td> -->
                    </tr>
                </tbody>
            </table>
    



</div>
