<div ng-include="'views/partials/nav.html'"></div>

<div id="manage" ng-init="mc.getAllUsers()">
        <h2>Register a New User</h2>

            <a href="#register">Register</a>

        <h2>Current Users</h2>    
        <table class="spaceUnder">
                <thead>
                    <tr>
                        <th width="30%">Name</th>
                        <th width="30%">Admin?</th>
                        <th width="30%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in mc.users">   
                        <td>{{user.username}}</td>
                        <td><md-checkbox type="checkbox" autocomplete="off" ng-click="mc.editPriviledge(user)" ng-checked="user.admin"></md-checkbox></td>
                        <td><md-button type="button" ng-click="mc.deleteUser(user)"><i class="fa fa-trash"></i>
                        </md-button></td>                                    
                    </tr>
                </tbody>
            </table>
</div>
