<div ng-include="'views/partials/nav.html'"></div>

</div>
<form name="intakeForm" role="form" class='form-vertical' novalidate>
  <div class="md-form" ng-init="UserService.getCounties(); UserService.getCities(); UserService.getAgencies(); UserService.getSchools();">
<div class="header"> Juvenile Missing Persons Intake Form </div>
    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <input id="MCMCaseNumber" ng-model="nwc.caseIn" type="number" placeholder="MCM Case Number" required>
      </md-input-container>

      <md-input-container>
        <input id="DateofIntaketoMCM" style="width:250px;" ng-model="nwc.DateofIntaketoMCMIn" type="date" placeholder="Date of Intake to MCM"
          required>
      </md-input-container>

    </div>

    <h3> Missing Person's Info </h3>
    <br>

    <div layout='row' layout-fill layout-margin>


      <md-input-container>
        <input id="Name" ng-model="nwc.NameIn" type="text" style="width:250px;" placeholder="Name of Missing Person">
      </md-input-container>

      <md-input-container>
        <input id="DateofDisappearance" ng-model="nwc.DateofDisappearanceIn" type="date" placeholder="Date of Disappearance">
      </md-input-container>

      <md-input-container>
        <input id="DateLastSeen" ng-model="nwc.DateLastSeenIn" type="date" placeholder="Date Last Seen" required>
      </md-input-container>

      <md-input-container>
        <input id="TimeLastSeen" ng-model="nwc.TimeLastSeenIn" type="time" md-form placeholder="Time Last Seen">
      </md-input-container>

      <md-input-container>
        <input id="DateReportedMissingtoPolice" ng-model="nwc.DateReportedMissingtoPoliceIn" style="width:250px;" type="date" placeholder="Date Reported Missing to Police"
          required>
      </md-input-container>

      <md-input-container>
        <input id="LocationLastSeenCrossSt." ng-model="nwc.LocationLastSeenCrossStIn" type="text" style="width:275px;" placeholder="Location Last Seen/Cross St.">
      </md-input-container>



    </div>

    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <input id="FamilyMembersInvolvedInSearch" ng-model="nwc.FamilyMembersInvolvedInSearchIn" type="number" style="width:250px;"
          placeholder="Family Members Involved in Search" required>
      </md-input-container>

      <md-input-container>
        <label>State Missing From</label>
        <md-select name="StateMissingFrom" ng-model="nwc.StateMissingFromIn" ng-change="nwc.itemChange()" type="number" style="width:200px;"
          placeholder="State Missing From" required="true">
          <md-option value="">State Missing From</md-option>
          <md-option value="AL">Alabama</md-option>
          <md-option value="AK">Alaska</md-option>
          <md-option value="AZ">Arizona</md-option>
          <md-option value="AR">Arkansas</md-option>
          <md-option value="CA">California</md-option>
          <md-option value="CO">Colorado</md-option>
          <md-option value="CT">Connecticut</md-option>
          <md-option value="DE">Delaware</md-option>
          <md-option value="DC">District Of Columbia</md-option>
          <md-option value="FL">Florida</md-option>
          <md-option value="GA">Georgia</md-option>
          <md-option value="HI">Hawaii</md-option>
          <md-option value="ID">Idaho</md-option>
          <md-option value="IL">Illinois</md-option>
          <md-option value="IN">Indiana</md-option>
          <md-option value="IA">Iowa</md-option>
          <md-option value="KS">Kansas</md-option>
          <md-option value="KY">Kentucky</md-option>
          <md-option value="LA">Louisiana</md-option>
          <md-option value="ME">Maine</md-option>
          <md-option value="MD">Maryland</md-option>
          <md-option value="MA">Massachusetts</md-option>
          <md-option value="MI">Michigan</md-option>
          <md-option value="MN">Minnesota</md-option>
          <md-option value="MS">Mississippi</md-option>
          <md-option value="MO">Missouri</md-option>
          <md-option value="MT">Montana</md-option>
          <md-option value="NE">Nebraska</md-option>
          <md-option value="NV">Nevada</md-option>
          <md-option value="NH">New Hampshire</md-option>
          <md-option value="NJ">New Jersey</md-option>
          <md-option value="NM">New Mexico</md-option>
          <md-option value="NY">New York</md-option>
          <md-option value="NC">North Carolina</md-option>
          <md-option value="ND">North Dakota</md-option>
          <md-option value="OH">Ohio</md-option>
          <md-option value="OK">Oklahoma</md-option>
          <md-option value="OR">Oregon</md-option>
          <md-option value="PA">Pennsylvania</md-option>
          <md-option value="RI">Rhode Island</md-option>
          <md-option value="SC">South Carolina</md-option>
          <md-option value="SD">South Dakota</md-option>
          <md-option value="TN">Tennessee</md-option>
          <md-option value="TX">Texas</md-option>
          <md-option value="UT">Utah</md-option>
          <md-option value="VT">Vermont</md-option>
          <md-option value="VA">Virginia</md-option>
          <md-option value="WA">Washington</md-option>
          <md-option value="WV">West Virginia</md-option>
          <md-option value="WI">Wisconsin</md-option>
          <md-option value="WY">Wyoming</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>City Missing From</label>
        <md-select ng-model="nwc.CityMissingFromIn" style="width:200px;" ng-change="nwc.itemChange()" required>
          <md-option value="" disabled md-selected>City Missing From</md-option>
          <md-option ng-repeat="cityObj in nwc.cities" ng-value="cityObj.city_name"> {{cityObj.city_name}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>County Missing From</label>
        <md-select ng-model="nwc.CountyMissingFromIn" style="width:200px;" ng-change="nwc.itemChange()" required>
          <md-option value="" disabled md-selected>County Missing From</md-option>
          <md-option ng-repeat="countyObj in nwc.counties" ng-value="countyObj.county_name"> {{countyObj.county_name}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>School District Where Child Was Enrolled </label>
        <md-select id="schoolDistrict" ng-model="nwc.SchoolDistrictWhereChildWasEnrolledIn" style="width:325px;" ng-change="nwc.itemChange()" required>
          <md-option value="" disabled md-selected>School District Where Child Was Enrolled</md-option>
          <md-option ng-repeat="schoolObj in nwc.schools" ng-value="schoolObj.school_name"> {{schoolObj.school_name}}</md-option>
        </md-select>
      </md-input-container>



    </div>

    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <input id="Age" ng-model="nwc.AgeIn" type="number" placeholder="Age" required>
      </md-input-container>


      <md-input-container>
        <label>Gender</label>
        <md-select ng-model="nwc.GenderIn" ng-change="nwc.itemChange()" required>
          <md-option value="Male">Male</md-option>
          <md-option value="Female">Female</md-option>
          <md-option value="Non-Binary">Non-Binary</md-option>
        </md-select>
      </md-input-container>


      <md-input-container>
        <input id="Height" ng-model="nwc.HeightIn" type="text" placeholder="Height (in inches)">
      </md-input-container>


      <md-input-container>
        <input id="Weight" ng-model="nwc.WeightIn" type="text" placeholder="Weight (in lbs)">
      </md-input-container>

    </div>


    <h3> Distinguishing Characteristics</h3>
    <br>

    <div layout='row' layout-fill layout-margin>


      <md-input-container flex>
        <input id="HairColor" ng-model="nwc.HairColorIn" type="text" placeholder="Hair Color">
      </md-input-container>

      <md-input-container flex>
        <input id="HairStyle" ng-model="nwc.HairStyleIn" type="text" placeholder="Hair Style">
      </md-input-container>


      <md-input-container flex>
        <input id="EyeColor" ng-model="nwc.EyeColorIn" type="text" placeholder="Eye Color">
      </md-input-container>
      
      
            <md-input-container flex>
              <input id="FacialHair" ng-model="nwc.FacialHairIn" type="text" placeholder="Facial Hair">
            </md-input-container>
      
            <md-input-container flex>
              <input id="EyeBrowFeatures" ng-model="nwc.EyeBrowFeaturesIn" type="text" placeholder="Eye Brow Features">
            </md-input-container>
      
            <md-input-container flex>
              <label>Glasses or Contacts?</label>
              <md-select name="GlassesOrContacts" ng-model="nwc.GlassesOrContactsIn" style="width:250px;" ng-change="nwc.itemChange()"
                placeholder="Glasses or Contacts?" id="yes">
                <md-option value="No">No</md-option>
                <md-option value="Glasses">Glasses</md-option>
                <md-option value="Contacts">Contacts</md-option>
              </md-select>
            </md-input-container>
      </div>
      
      

    <div layout='row' layout-fill layout-margin>
      <label>Race/Ethnicity</label>
      
      <md-checkbox ng-model="nwc.AfricanAmericanIn" ng-click="nwc.changeRace(nwc.race_ethnicity[0])" aria-label="African American">
        African American
      </md-checkbox>

      <md-checkbox ng-model="nwc.AsianPacificIslanderIn" ng-click="nwc.changeRace(nwc.race_ethnicity[1])" aria-label="Asian Pacific Islander">
        Asian Pacific Islander
      </md-checkbox>

      <md-checkbox ng-model="nwc.CaucasianIn" ng-click="nwc.changeRace(nwc.race_ethnicity[2])" aria-label="Caucasian">
        Caucasian
      </md-checkbox>

      <md-checkbox ng-model="nwc.LatinxIn" ng-click="nwc.changeRace(nwc.race_ethnicity[3])" aria-label="Latinx">
        Latinx
      </md-checkbox>

      <md-checkbox ng-model="nwc.NativeAmericanIn" ng-click="nwc.changeRace(nwc.race_ethnicity[4])" aria-label="Native American">
        Native American
      </md-checkbox>

    </div>
    

    <div layout='row' layout-fill layout-margin>
      <md-input-container flex>
        <input name="tattoo" id="commentTattoosIn" ng-model="nwc.commentTattoosIn" type="text" placeholder="Tattoos or Piercings?" md-maxlength="80">
        <div ng-messages="intakeForm.tattoo.$error">
          <div ng-message="md-maxlength">That's too long!</div> 
        </div>
      </md-input-container>


      <md-input-container flex>
        <input id="DentalCharacteristicsIn" ng-model="nwc.DentalCharacteristicsIn" type="text" placeholder="Dental Characteristics?"
          md-maxlength="80">
      </md-input-container>


      <md-input-container flex>
        <input id="ScarsOrBirthmarksIn" ng-model="nwc.ScarsOrBirthmarksIn" type="text" placeholder="Scars or Birthmarks?" md-maxlength="80">
      </md-input-container>
    </div>

    <div layout='row' layout-fill layout-margin>

      <md-input-container flex>
        <input name="CharacteristicsNotes" id="OtherInfo" ng-model="nwc.OtherInfoIn" type="text" placeholder="Additional Notes:" md-maxlength="300">
        <div ng-messages="intakeForm.CharacteristicsNotes.$error" ng-show="userForm.lastName.$dirty">
            <div ng-message="md-maxlength">That's too long!</div> 
        </div>
      </md-input-container>

    </div>

    <h3>Reporting Law Enforcement </h3>
    <br></br>

    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <label>Law Enforcement Agency On Case</label>
        <md-select ng-model="nwc.LawEnforcementAgencyonCaseIn1" ng-change="nwc.itemChange()" style="width:280px;">
          <md-option value="" disabled md-selected>Law Enforcement Agency</md-option>
          <md-option ng-repeat="AgencyObj in nwc.agencies" ng-value="AgencyObj.agency"> {{AgencyObj.agency}}</md-option>
        </md-select>
      </md-input-container>


      <md-input-container>
        <input id="CaseNumber" ng-model="nwc.CaseNumberIn1" type="number" placeholder="Case Number">
      </md-input-container>

      <md-input-container>
        <input id="Office/Detective" ng-model="nwc.OfficeDetectiveIn1" type="text" placeholder="Officer/Detective">
      </md-input-container>

      <md-input-container>
        <input id="LEPhoneNumber" ng-model="nwc.LEPhoneNumberIn1" type="number" placeholder="LE Phone Number">
      </md-input-container>

      <md-input-container>
        <input id="StreetAddress" ng-model="nwc.StreetAddressIn1" type="text" placeholder="Street Address">
      </md-input-container>


      <md-input-container flex>
        <label>Jurisdictional Denial?</label>
        <md-select ng-model="nwc.JurisdictionalDenialIn1" ng-change="nwc.itemChange()" placeholder="Jurisdictional denial" id="yes">
          <md-option value="" disabled md-selected>Jurisdictional denial?</md-option>
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No </md-option>
        </md-select>
      </md-input-container flex>
    </div>


    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <label>Law Enforcement Agency On Case</label>
        <md-select ng-model="nwc.LawEnforcementAgencyonCaseIn2" ng-change="nwc.itemChange()" style="width:280px;">
          <md-option value="" disabled md-selected>Law Enforcement Agency</md-option>
          <md-option ng-repeat="AgencyObj in nwc.agencies" ng-value="AgencyObj.agency"> {{AgencyObj.agency}}</md-option>
        </md-select>
      </md-input-container>


      <md-input-container>
        <input id="CaseNumber" ng-model="nwc.CaseNumberIn2" type="number" placeholder="Case Number">
      </md-input-container>

      <md-input-container>
        <input id="Office/Detective" ng-model="nwc.OfficeDetectiveIn2" type="text" placeholder="Officer/Detective">
      </md-input-container>

      <md-input-container>
        <input id="LEPhoneNumber" ng-model="nwc.LEPhoneNumberIn2" type="number" placeholder="LE Phone Number">
      </md-input-container>

      <md-input-container>
        <input id="StreetAddress" ng-model="nwc.StreetAddressIn2" type="text" placeholder="Street Address">
      </md-input-container>


      <md-input-container flex>
        <label>Jurisdictional Denial?</label>
        <md-select ng-model="nwc.JurisdictionalDenialIn2" ng-change="nwc.itemChange()" placeholder="Jurisdictional denial" id="yes">
          <md-option value="" disabled md-selected>Jurisdictional denial?</md-option>
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No </md-option>
        </md-select>
      </md-input-container flex>
    </div>



    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <label>Law Enforcement Agency On Case</label>
        <md-select ng-model="nwc.LawEnforcementAgencyonCaseIn3" ng-change="nwc.itemChange()" style="width:280px;">
          <md-option value="" disabled md-selected>Law Enforcement Agency</md-option>
          <md-option ng-repeat="AgencyObj in nwc.agencies" ng-value="AgencyObj.agency"> {{AgencyObj.agency}}</md-option>
        </md-select>
      </md-input-container>


      <md-input-container>
        <input id="CaseNumber" ng-model="nwc.CaseNumberIn3" type="number" placeholder="Case Number">
      </md-input-container>

      <md-input-container>
        <input id="Office/Detective" ng-model="nwc.OfficeDetectiveIn3" type="text" placeholder="Officer/Detective">
      </md-input-container>

      <md-input-container>
        <input id="LEPhoneNumber" ng-model="nwc.LEPhoneNumberIn3" type="number" placeholder="LE Phone Number">
      </md-input-container>

      <md-input-container>
        <input id="StreetAddress" ng-model="nwc.StreetAddressIn3" type="text" placeholder="Street Address">
      </md-input-container>


      <md-input-container flex>
        <label>Jurisdictional Denial?</label>
        <md-select ng-model="nwc.JurisdictionalDenialIn3" ng-change="nwc.itemChange()" placeholder="Jurisdictional denial" id="yes">
          <md-option value="" disabled md-selected>Jurisdictional denial?</md-option>
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No </md-option>
        </md-select>
      </md-input-container flex>
    </div>

 

    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <label>Law Enforcement Agency On Case</label>
        <md-select ng-model="nwc.LawEnforcementAgencyonCaseIn4" ng-change="nwc.itemChange()" style="width:280px;">
          <md-option value="" disabled md-selected>Law Enforcement Agency</md-option>
          <md-option ng-repeat="AgencyObj in nwc.agencies" ng-value="AgencyObj.agency"> {{AgencyObj.agency}}</md-option>
        </md-select>
      </md-input-container>


      <md-input-container>
        <input id="CaseNumber" ng-model="nwc.CaseNumberIn4" type="number" placeholder="Case Number">
      </md-input-container>

      <md-input-container>
        <input id="Office/Detective" ng-model="nwc.OfficeDetectiveIn4" type="text" placeholder="Officer/Detective">
      </md-input-container>

      <md-input-container>
        <input id="LEPhoneNumber" ng-model="nwc.LEPhoneNumberIn4" type="number" placeholder="LE Phone Number">
      </md-input-container>

      <md-input-container>
        <input id="StreetAddress" ng-model="nwc.StreetAddressIn4" type="text" placeholder="Street Address">
      </md-input-container>


      <md-input-container flex>
        <label>Jurisdictional Denial?</label>
        <md-select ng-model="nwc.JurisdictionalDenialIn4" ng-change="nwc.itemChange()" placeholder="Jurisdictional denial" id="yes">
          <md-option value="" disabled md-selected>Jurisdictional denial?</md-option>
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No </md-option>
        </md-select>
      </md-input-container flex>
    </div>

    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <label>Law Enforcement Agency On Case</label>
        <md-select ng-model="nwc.LawEnforcementAgencyonCaseIn5" ng-change="nwc.itemChange()" style="width:280px;">
          <md-option value="" disabled md-selected>Law Enforcement Agency</md-option>
          <md-option ng-repeat="AgencyObj in nwc.agencies" ng-value="AgencyObj.agency"> {{AgencyObj.agency}}</md-option>
        </md-select>
      </md-input-container>


      <md-input-container>
        <input id="CaseNumber" ng-model="nwc.CaseNumberIn5" type="number" placeholder="Case Number">
      </md-input-container>

      <md-input-container>
        <input id="Office/Detective" ng-model="nwc.OfficeDetectiveIn5" type="text" placeholder="Officer/Detective">
      </md-input-container>

      <md-input-container>
        <input id="LEPhoneNumber" ng-model="nwc.LEPhoneNumberIn5" type="number" placeholder="LE Phone Number">
      </md-input-container>

      <md-input-container>
        <input id="StreetAddress" ng-model="nwc.StreetAddressIn5" type="text" placeholder="Street Address">
      </md-input-container>


      <md-input-container flex>
        <label>Jurisdictional Denial?</label>
        <md-select ng-model="nwc.JurisdictionalDenialIn5" ng-change="nwc.itemChange()" placeholder="Jurisdictional denial" id="yes">
          <md-option value="" disabled md-selected>Jurisdictional denial?</md-option>
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No </md-option>
        </md-select>
      </md-input-container flex>
    </div>

    <div layout='row' layout-fill layout-margin>
      <md-input-container flex>
        <input id="OtherLE" ng-model="nwc.OtherLEIn5" type="text" placeholder="Other" md-maxlength="100">
      </md-input-container>
    </div>



    <h3> Case Information </h3>


    <div layout='row' layout-fill layout-margin>

      <md-input-container flex>

        <label>Case Type When Opened</label>
        <md-select name="CaseTypeWhenOpened" ng-model="nwc.CaseTypeWhenOpenedIn" ng-change="nwc.itemChange()" style="width:225px;"
          placeholder="Case Type When Opened" id="yes" required>

          <md-option value="" disabled md-selected>Case Type When Opened</md-option>
          <md-option value="Runaway Opened">Runaway
          </md-option>
          <md-option value="Abduction by Family Member">Abduction by Family Member
          </md-option>
          <md-option value="Abduction by Acquaintance">Abduction by Acquaintance
          </md-option>
          <md-option value="Abduction by Stranger">Stranger Abduction
          </md-option>
          <md-option value="LIM">LIM (Lost, Injured, Otherwise Missing)
          </md-option>
        </md-select>
      </md-input-container>


      <md-input-container flex>

        <label>Case Type When Closed</label>

        <md-select name="CaseTypeWhenClosed" ng-model="nwc.CaseTypeWhenClosedIn" ng-change="nwc.itemChange()" placeholder="Case Type When Closed"
          id="yes" required>

          <md-option value="" disabled md-selected>Case Type When Closed</md-option>
          </md-option>
          <md-option value="Not Applicable Case Type Closed">Not Applicable
          </md-option>
          <md-option value="Runaway Closed">Runaway
          </md-option>
          <md-option value="Abduction by Family Member">Abduction by Family Member
          </md-option>
          <md-option value="Abduction by Acquaintance Closed">Abduction by Acquaintance
          </md-option>
          <md-option value="Abduction by Stranger Closed">Stranger Abduction
          </md-option>
          <md-option value="LIM">LIM (Lost, Injured, Otherwise Missing)
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex>

        <label>Case Status</label>

        <md-select name="CaseStatus" ng-model="nwc.CaseStatusIn" ng-change="nwc.itemChange()" placeholder="Case Status" id="yes" required>
          <md-option value="" disabled md-selected>Case Status</md-option>
          <md-option value="Open">Open
          </md-option>
          <md-option value="Closed">Closed
          </md-option>
          <md-option value="Suspended Out of Contact">Suspended - out of contact
          </md-option>
          <md-option value="Suspended False Information">Suspended - false information
          </md-option>
        </md-select>
      </md-input-container>

      <!-- need to add logic to show following field if "close" is selected -->



      <md-input-container flex>
        <input id="DateCaseClosed" ng-model="nwc.DateCaseClosedIn" type="date" placeholder="Date Case Closed" required>
      </md-input-container>

      <md-input-container flex>
        <label>Case Disposition</label>

        <md-select name="CaseDisposition" ng-model="nwc.CaseDispositionIn" ng-change="nwc.itemChange()" placeholder="Case Disposition"
          id="yes" required>
          <md-option value="" disabled md-selected>Case Disposition</md-option>
          <md-option value="Not Applicable Case Disposition">Not Applicable
          </md-option>
          <md-option value="Child Found Safe">Child found safe
          </md-option>
          <md-option value="Child Found Harmed/injured/neglected">Child found harmed/injured/neglected
          </md-option>
          <md-option value="Child Found Deceased">Child found deceased
          </md-option>
          <md-option value="Child Placed in Care">Child placed in Care
          </md-option>
        </md-select>
      </md-input-container>


      <md-input-container flex>
        <label>Referral Type</label>
        <md-select name="ReferralType" ng-model="nwc.ReferralTypeIn" ng-change="nwc.itemChange()" placeholder="Referral Type" id="yes"
          required>
          <md-option value="" disabled md-selected>Referral Type</md-option>
          <md-option value="Word of Mouth">Word of Mouth
          </md-option>
          <md-option value="Facebook">Facebook
          </md-option>
          <md-option value="Website">Website
          </md-option>
          </md-option>
          <md-option value="Referral By Law Enforcement">Referral by Law Enforcement
          </md-option>
          </md-option>
          <md-option value="Referral By CountyWorker">Referral by County Worker
          </md-option>
        </md-select>
        <md-input-container>

    </div>

    <h3> Specific Questions to Occurrence </h3>
    <br>

    <div layout='row' layout-fill layout-margin>
      <md-input-container flex>
        <input id="withOthersComment" ng-model="nwc.commentWithOthersIn" type="text" placeholder="Was the person with anyone?" md-maxlength="80">
      </md-input-container flex>

      <md-input-container flex flex>
        <input id="commentHighRiskIn" ng-model="nwc.commentHighRiskIn" type="text" placeholder="High Risk Activity?" md-maxlength="80">
      </md-input-container flex>

      <md-input-container flex>
        <input id="DisturbingSituation" ng-model="nwc.DisturbingSituationIn" type="text" placeholder="Have they witnessed violence or a disturbing situation?"
          md-maxlength="80">
      </md-input-container flex>
    </div>

    <div layout='row' layout-fill layout-margin>
      <md-input-container flex>
        <input id="commentSpecificQuestions" ng-model="nwc.commentSpecificQuestions" type="text" placeholder="Additional Notes: "
          md-maxlength="300">
      </md-input-container>
    </div>




    <h3> Clothing Worn When Last Seen </h3>
    <br>
    <div layout='row' layout-fill layout-margin>

      <md-input-container flex>
        <input id="JacketCoat" ng-model="nwc.JacketCoatIn" type="text" placeholder="Jacket/Coat" md-maxlength="30">
      </md-input-container>


      <md-input-container flex>
        <input id="ShirtBlouse" ng-model="nwc.ShirtBlouseIn" type="text" placeholder="Shirt/Blouse" md-maxlength="30">
      </md-input-container>

      <md-input-container flex>
        <input id="PantsSkirt" ng-model="nwc.PantsSkirtIn" type="text" placeholder="Pants/Skirt" md-maxlength="30">
      </md-input-container>

      <md-input-container flex>
        <input id="Jewelry" ng-model="nwc.JewelryIn" type="text" placeholder="Jewelry" md-maxlength="30">
      </md-input-container>

      <md-input-container flex>
        <input id="BackpackPurse" ng-model="nwc.BackpackPurseIn" type="text" placeholder="Backpack/Purse" md-maxlength="30">
      </md-input-container>



    </div>
    <div layout='row' layout-fill layout-margin>

      <md-input-container flex>
        <input id="HatOther" ng-model="nwc.HatOtherIn" type="text" placeholder="Hat or other accessories" md-maxlength="30">
      </md-input-container>

      <md-input-container flex>
        <input id="Other" ng-model="nwc.addOtherIn" type="text" placeholder="Other (cell phone, toy, pet, etc.)" md-maxlength="80">
      </md-input-container>


    </div>


    <h3> Vehicle Information </h3>
    <br>
    <div layout='row' layout-fill layout-margin>


      <md-input-container flex>
        <input id="Year" ng-model="nwc.VehicleYearIn" type="text" placeholder="Year">
      </md-input-container>


      <md-input-container flex>
        <input id="Make" ng-model="nwc.VehicleMakeIn" type="text" placeholder="Make">
      </md-input-container>

      <md-input-container flex>
        <input id="Model" ng-model="nwc.VehicleModelIn" type="text" placeholder="Model">
      </md-input-container>

      <md-input-container>
        <input id="ColorIn" ng-model="nwc.vehicleColorIn" type="text" placeholder="Color">
      </md-input-container>

    </div>
    <div layout='row' layout-fill layout-margin>

      <md-input-container>
        <input id="LicenseNumber" ng-model="nwc.VehicleLicenseIn" type="text" placeholder="License #">
      </md-input-container>

      <md-input-container>
        <label for="PhotoAvailable"> Is there a photo available?</label>
        <md-select name="PhotoAvailable" ng-model="nwc.PhotoAvailableIn" ng-change="nwc.itemChange()" placeholder="" id="yes">
          <md-option value="" disabled md-selected></md-option>
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No</md-option>
        </md-select>
      </md-input-container>
    </div>


    <h3> History </h3>
    <br>
    <div layout='row' layout-fill layout-margin>

      <md-input-container flex>
        <input name="LeftBefore" ng-model="nwc.LeftBeforeIn" type="text" placeholder="Has this person left before?" md-maxlength="70">
      </md-input-container>

      <md-input-container flex>
        <input name="commentPreviouslyFound" ng-model="nwc.commentPreviouslyFoundIn" type="text" placeholder="Where were they found previously?"md-maxlength="70">
      </md-input-container>

      <md-input-container flex>
          <input name="commentKnownCompanions" ng-model="nwc.commentKnownCompanionsIn" type="text" placeholder="Known Companions"md-maxlength="70">
      </md-input-container>

    </div>

    <div layout='row' layout-fill layout-margin>

       <md-input-container flex>
        <input name="DisabilityMental " ng-model="nwc.DisabilityMentalIn " placeholder="Disability/Mental Problems?"md-maxlength="70">
       </md-input-container>

      <md-input-container flex>
        <input name="LifeThreatening" ng-model="nwc.LifeThreateningIn" placeholder="Life threatening conditions"md-maxlength="70">
      </md-input-container>

    </div>
    
   <div layout='row' layout-fill layout-margin>
      <md-input-container flex>
        <input name="Medications" ng-model="nwc.MedicationsIn" placeholder="Medications"md-maxlength="70">
      </md-input-container>
    

      <md-input-container flex>
        <input name="commentAbuse" ng-model="nwc.commentAbuseIn" placeholder="Victim of abuse (mental, physical, sexual)?"md-maxlength="70">
      </md-input-container>
  </div>
  <div layout='row' layout-fill layout-margin>
    
      <md-input-container flex>
          <input id="OtherHistoryIn" ng-model="nwc.OtherHistoryIn" type="text" placeholder="Additional Notes:" md-maxlength="300">
        </md-input-container>
    </div>

    <div id="vulnerabilitiesPdf">
    <h3>Vulnerabilities</h3>

    <div layout='row' layout-fill layout-margin>

      <md-checkbox ng-model="nwc.ADDIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[0])" aria-label="ADD/ADHD">
        ADD/ADHD
      </md-checkbox>

      <md-checkbox ng-model="nwc.AutismIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[1])" aria-label="ASD">
        ASD (Autism Spectrum Disorder)
      </md-checkbox>


      <md-checkbox ng-model="nwc.AlcoholIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[2])" aria-label="Alcohol use/abuse">
        Alcohol Use/Abuse
      </md-checkbox>


      <md-checkbox ng-model="nwc.AnxietyIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[3])" aria-label="Anxiety">
        Anxiety
      </md-checkbox>

      <md-checkbox ng-model="nwc.BiPolarIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[4])" aria-label="BiPolarDisorder">
        Bi-Polar Disorder
      </md-checkbox>

      <md-checkbox ng-model="nwc.DepressionClinicalIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[5])" aria-label="Depression(clinical)">
        Depression (clinical)
      </md-checkbox>

      <md-checkbox ng-model="nwc.DepressionSituationalIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[6])" aria-label="Depression (situational)">
        Depression (situational)
      </md-checkbox>

      <md-checkbox ng-model="nwc.DrugUseIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[7])" aria-label="Drug Use/Abuse">
        Drug Use/Abuse
      </md-checkbox>

    </div>

    <div layout='row' layout-fill layout-margin>

      <md-checkbox ng-model="nwc.EconomicIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[8])" aria-label="EconomicExploitation(history)">
        Economic exploitation (history)
      </md-checkbox>

      <md-checkbox ng-model="nwc.EmotionalAbuseIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[9])" aria-label="Emotional Abuse (history)">
        Emotional Abuse (history)
      </md-checkbox>

      <md-checkbox ng-model="nwc.GangIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[10])" aria-label="Gang Association">
        Gang Association
      </md-checkbox>

      <md-checkbox ng-model="nwc.ODDIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[11])" aria-label="ODD (Oppositional Defiant Disorder)">
        ODD (Oppositional Defiant Disorder)
      </md-checkbox>

      <md-checkbox ng-model="nwc.LaborIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[12])" aria-label="Labor Exploitation (history)">
        Labor Exploitation (history)
      </md-checkbox>

      <md-checkbox ng-model="nwc.LuringAdultIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[13])" aria-label="Luring/grooming by adult">
        Luring/grooming by adult
      </md-checkbox>


    </div>
    <div layout='row' layout-fill layout-margin>

      <md-checkbox ng-model="nwc.LuringChildIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[14])"  aria-label="Luring/grooming by child">
        Luring/grooming by child
      </md-checkbox>


      <md-checkbox ng-model="nwc.MissingFromCareIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[15])"  aria-label="Missing From Care">
        Missing From Care
      </md-checkbox>

      <md-checkbox ng-model="nwc.PhysicalAbuseIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[16])"  aria-label="Physical Abuse (history)">
        Physical Abuse (history)
      </md-checkbox>

      <md-checkbox ng-model="nwc.RunawayIn" aria-label="Runaway (history)">
        Runaway (history)
      </md-checkbox>

      <md-checkbox ng-model="nwc.SexualAbuseIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[18])" aria-label="Sexual Abuse (history)">
        Sexual Abuse (history)
      </md-checkbox>

      <md-checkbox ng-model="nwc.SexualExploitationIn" aria-label="Sexual Exploitation (history)">
        Sexual Exploitation (history)
      </md-checkbox>

      <md-checkbox ng-model="nwc.SexualMinorityIn" ng-click="nwc.changeVul(nwc.case_vulnerabilities[20])"  aria-label="Sexual Exploitation (history)">
        Sexual Minority (LGBTQ, etc.)
      </md-checkbox>

    </div>
 </div> 
  <!-- end of vulnerabilitiesPdf div -->
 
  <br>


    <h3> Person Requesting Assistance</h3>
    <br>

    <div layout='row' layout-fill layout-margin>


      <md-input-container>
        <input id="Name" ng-model="nwc.PRANameIn" type="text" placeholder="Name">
      </md-input-container>

      <md-input-container>
        <input id="StreetAddress" ng-model="nwc.PRAStreetAddressIn" type="text" placeholder="Street Address">
      </md-input-container>

      <md-input-container>
        <input id="City" ng-model="nwc.PRACityIn" type="text" placeholder="City">
      </md-input-container>

      <md-input-container>
        <input id="State" ng-model="nwc.PRAStateIn" type="text" placeholder="State">
      </md-input-container>

      <md-input-container>
        <input id="ZIPCode" ng-model="nwc.PRAZIPCodeIn" type="number" placeholder="ZIP Code">
      </md-input-container>

      <md-input-container>
        <input id="HomePhone" ng-model="nwc.PRAHomePhoneIn" type="number" placeholder="Home Phone">
      </md-input-container>

      <md-input-container>
        <input id="CellPhone" ng-model="nwc.PRACellPhoneIn" type="number" placeholder="Cell Phone">
      </md-input-container>

      <md-input-container>
        <input id="Email" ng-model="nwc.PRAEmailIn" type="text" placeholder="E-Mail Address">
      </md-input-container>

    </div>

      <div layout='row' layout-fill layout-margin>
        <md-button type="submit" ng-click="nwc.click()" class="btn btn-info teal">Submit</md-button>
        <md-button class="teal" ng-click='nwc.printPDF()'>PDF</md-button>
      </div>
   
    </div>

<!-- </form> -->